<footer>
  <p mt-8 text-xs op-30>
    <a>
      A research demo of a chat optimized fine-tuned version of Bloom Large using RLHF
    </a>
    <br>
    <a
      b-slate-link
      href="https://www.bloomai.eu" target="_blank"
    >
      Made with curiosity by Bloom AI        
    </a>
    
    <a
      b-slate-link
      href="https://bloomai.gitbook.io/bloomai-terms-and-conditions" target="_blank"
    >
      Terms & Conditions | Privacy Policy
    </a>
    <span px-1></span>
  </p>
</footer>
