---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb">
    <Logo />
    <Themetoggle />
  </div>
  <p mt-1 op-60>A research demo of a chat optimized fine-tuned version of Bloom Large using Reinforcement Learning</p>
</header>
